.header {
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

.modal-content {
    width: 100%;
    padding: 10px;
}