.winner-circle {
    background: #D0FFBC;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    display: inline-block;
    font-weight: bold;
    line-height: 50px;
    text-align: center;
    width: 50px;
    box-shadow: 2px 2px 2px;
}